#canvas {
    height: 570px;
    width: 1000px;
    border: solid #000000;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-image: url(./background.png); */
}

.--skill {
    height: 20vh;
    background-color: black;
    position: relative;
    top: 80vh;
    width: 100%;
}
.-skill {
    width: 700px;
    height: 60%;
    background-color: rgb(255, 115, 0);
    margin-left: 15%;
    margin-right: 15%;
}
.odichuyen {
    background-color: rgb(0, 132, 255);
    height: 100%;
    border-right: solid;
}
.oskill {
    display: flex;
}
.skill {
    border-radius: 5px;
    border: solid black;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    position: relative;
    background-color: rgb(190, 51, 0);
}
.-skill-input {
    width: 700px;
    height: 40%;
    background-color: rgb(255, 115, 0);
    margin-left: 15%;
    margin-right: 15%;
}
/** ảnh ô skill ***/
#kameha {
    background-color:  white;
    background-image: url(./skills/skillKame1.png);
    background-size: 135%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
    margin: 0px 10px 0px 10px;
}
#kick {
    background-image: url(./skills/kick.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
}
#kaioken {
    background-image: url(./skills/kaioken.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
    margin-left: 10px;
}
#ssj {
    background-image: url(./skills/ssj.jfif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
    margin-left: 10px;
}
#flyFast {
    background-image: url(./skills/flyFast.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 75px;
}
.hoichieu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.618);
}
.hieuung {
    transition: all 0.3s linear;
}
.amthanh:hover {
    transition: all 0.3s ease;
}
#amthanh {
    transition: all 0.3s ease;
}
.amthanh:hover {
    background-color: rgb(255, 141, 141) !important;
}